.random-password-page {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;

	.rp-main {
		padding: 20px;
		width: 100%;
		min-width: 200px;
		max-width: 700px;
		.rp-m-title {
			margin: 10px 0 0px;
			font-size: 26px;
			font-weight: 700;
			text-align: center;
		}
		.rp-m-subtitle {
			font-size: 16px;
			color: #222;
			text-align: center;
		}
		.rp-m-password {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 40px 0 20px;
			.rm-m-p-str {
				width: 100%;
				padding: 14px 20px;
				border: 1px solid var(--default-color);
				border-radius: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				.rp-m-p-item {
					font-size: 24px;
					font-weight: 500;
					font-family: 'Courier Prime Bits', monospace;
					// margin: 0 3px;
					letter-spacing: 6px;
				}
			}
		}
		.rp-m-buttons {
			margin: 20px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 150px;
			@media (max-width: 768px) {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.rp-m-b-left {
					margin-bottom: 20px;
				}
				.rp-m-b-center {
					margin-bottom: 20px;
				}

				.rp-m-b-right {
					margin-bottom: 20px;
				}
			}
			.rp-m-b-left {
				flex: 1;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				.range {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					span {
						margin: 0 6px;
					}
				}
			}
			.rp-m-b-center {
				flex: 1;
				display: flex;
				justify-content: flex-end;
			}

			.rp-m-b-right {
				flex: 1;
				display: flex;
				justify-content: flex-end;
				.refresh {
					transform: rotate(0deg);
					transition: all 1s;
					&:hover {
						transform: rotate(360deg);
					}
				}
			}
		}
	}
}
