.weather-page {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  --margin-lr: 10px;

  --c0-f-color: #fff;
  --c1-f-color: #ddd;
  --c2-f-color: #ccc;
  --c3-f-color: #aaa;

  --c1-f-bg-color: rgba(0, 0, 0, 0.3);
  --c1-f-bg-hover-color: rgba(0, 0, 0, 0.4);
  --c1-f-bg-active-color: rgba(0, 0, 0, 0.6);

  &.Dark {
    --c0-color: #fff;
    --c1-color: #ddd;
    --c2-color: #ccc;
    --c3-color: #aaa;

    --c1-bg-color: rgba(0, 0, 0, 0.3);
    --c1-bg-hover-color: rgba(0, 0, 0, 0.4);
    --c1-bg-active-color: rgba(0, 0, 0, 0.6);

    .wp-main {
      .wp-hourly,
      .wp-daily,
      .wp-sunmoon,
      .wp-aq,
      .wp-details {
        background-color: var(--c1-bg-color);
        border-radius: 10px;
        border-bottom: none;
        padding: 10px 4px;
        .wp-d-list {
          padding: 0 0;
          .wp-l-item {
          }
        }
      }
    }
  }
  &.Light {
    --c0-color: #000;
    --c1-color: #444;
    --c2-color: #666;
    --c3-color: #999;

    --c1-bg-color: #f5f6f9;
    --c1-bg-hover-color: #eee;
    --c1-bg-active-color: #ddd;
  }

  text {
    &.high-text,
    &.low-text {
      font-size: 14px;
    }
    &.aqi-label {
      font-size: 12px;
    }
  }
  .aqi-icon {
    background-color: #37d43c;
    border-radius: 12px;
    height: 22px;
    padding: 2px 6px;
    // margin: 0 0 -2px 4px;
    font-size: 12px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    .icon {
      background-color: #fff;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 2px 0 0;
      transform: translate(-3px, 0);
    }
    span {
      font-size: 12px !important;
      line-height: 12px;
      color: #fff !important;
    }
  }

  &.fixedHeader {
    .wp-main {
      // margin: 60px 0 0;

      margin: 0px 0 0;

      .wp-top {
        .wp-header {
          position: fixed;
          left: calc(50%);
          top: 0;
          transform: translate(-50%, 0);
          width: 100%;
          // width: 100%;
          // min-width: 200px;
          // max-width: 700px;
          background-color: rgba(255, 255, 255, 0.7);
          // background-color: #474d37;
          z-index: 100;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
          padding: 0 10px;
          .wp-h-left {
            saki-icon {
              &:nth-child(1) {
                width: 20px;
                height: 20px;
              }
            }
            .wp-h-l-cityName {
            }
            .wp-h-l-city {
              // font-size: 24px;
              font-size: 16px;
              font-weight: 300;
              color: #444;
            }
          }
          .wp-h-right {
            .wp-c-updateTime {
              // color: #999;
            }
          }
        }
        .wp-header2 {
          margin: 60px 0 0;
        }
      }
    }

    &.Mobile {
      .wp-main {
        margin: 0px 0 0;

        .wp-top {
          video {
          }
          .wp-header {
            background-color: rgba(0, 0, 0, 0.5);
            .wp-h-left {
              saki-icon {
                &:nth-child(1) {
                }
              }
              .wp-h-l-cityName {
              }
              .wp-h-l-city {
                color: #fff;
              }
            }
            .wp-h-right {
              .wp-c-updateTime {
                color: var(--c1-f-color);
              }
            }
          }
          .wp-header2 {
            margin: 60px 0 0;
          }
          .wp-today {
            // padding: 0 0 0px;
          }
        }
      }

      &.bgBlur {
        .wp-main {
          .wp-top {
            video {
              filter: blur(10px) brightness(0.8);
            }
            .wp-header {
              .wp-h-left {
                saki-icon {
                  &:nth-child(1) {
                  }
                }
                .wp-h-l-cityName {
                }
                .wp-h-l-city {
                }
              }
              .wp-h-right {
                .wp-c-updateTime {
                }
              }
            }
            .wp-header2 {
            }
          }
        }
      }
    }
  }

  &.Mobile {
    .wp-main {
      .wp-top {
      }
    }
  }

  .wp-main {
    padding: 0px 0 0;
    width: 100%;
    // min-width: 200px;
    // max-width: 600px;

    .wp-top {
      position: relative;
      // height: calc(var(--wp-h) - 200px);
      margin: 0 0 30px;
      display: flex;
      flex-direction: column;
      video {
        width: calc(100% + 30px);
        height: calc(100% + 8px);
        position: absolute;
        top: -8px;
        left: -15px;
        z-index: -1;
        object-fit: cover;
        filter: blur(0px) brightness(0.8);
        border-radius: 20px;
        transition: filter 0.5s;
        &.Mobile {
          width: calc(var(--wp-w) + 30px);
          height: calc(var(--wp-h) + 30px);
          position: fixed;
          top: -15px;
          left: -15px;
          border-radius: 0px;
        }
        // &::before {
        //   content: '';
        //   position: absolute;
        //   left: 0;
        //   top: 0;
        //   width: 100%;
        //   height: 100%;
        //   background-color: rgba(0, 0, 0, 0.9);
        //   z-index: 1;
        //   pointer-events: none; /* 确保点击能穿透到视频 */
        // }
      }

      .wp-t-top {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      .wp-t-bottom {
        display: flex;
        flex-direction: column;
      }

      .wp-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--margin-lr);
        margin: 0 0 10px;
        height: 50px;
        // background-color: #474d37;
        // position: fixed;
        // top: 0;
        // left: 0;
        // width: 100%;
        .wp-h-left {
          saki-icon {
            &:nth-child(1) {
              transition: all 0.3s;
            }
          }
          .wp-h-l-cityName {
            font-size: 28px;
            font-weight: 300;
          }
          .wp-h-l-city {
            // font-size: 24px;
            font-size: 16px;
            font-size: 28px;
            font-weight: 300;
            color: var(--c0-f-color);

            transition: all 0.3s;

            @media screen and (max-width: 767px) {
              // font-size: 14px;
              font-size: 28px;
              font-weight: 300;
            }
          }
          @media screen and (max-width: 767px) {
            saki-icon {
              &:nth-child(1) {
                width: 22px;
                height: 22px;
              }
            }
          }
          .wp-h-l-dots {
            display: flex;
            justify-content: flex-start;
            padding: 0 6px;
            .dot-item {
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: #666;
            }
          }
        }
        .wp-h-right {
          .wp-c-updateTime {
            text-align: right;
            color: var(--c1-f-color);
            font-size: 12px;
            white-space: nowrap;
          }
        }
      }

      .wp-header2 {
        padding: 0 var(--margin-lr);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .wp-h-left {
          display: flex;
          flex-direction: column;
          .wp-w-button {
            display: flex;
            // flex-direction: column;
            justify-content: flex-end;
            // align-items: flex-start;
            align-items: center;
            // background-color: rgba(0, 0, 0, 0.3);
            // background-color: #f5f6f9a1;
            background-color: var(--c1-f-bg-color);
            padding: 6px 7px 6px 10px;
            height: 44px;
            border-radius: 22px;
            transition: all 0.3s;
            cursor: default;
            &:hover {
              background-color: var(--c1-f-bg-hover-color);
            }
            &:active {
              background-color: var(--c1-f-bg-active-color);
            }
            .wp-w-text {
              font-size: 12px;
              color: var(--c2-f-color);
              // color: #666;
            }
            .wp-w-list {
              display: flex;
              // flex-direction: column;
              justify-content: flex-start;
              flex-wrap: wrap;
              align-items: center;
              .wp-w-item {
                margin: 0 0 0px 6px;
                &:nth-last-child(1) {
                  margin: 0 0 0px 4px;
                }
              }
            }
          }
        }
        .wp-h-right {
          padding: 8px 0 0;
          .wp-data-aq {
            cursor: pointer;
            .aqi-icon {
              height: 30px;
              border-radius: 15px;
              .icon {
                width: 26px;
                height: 26px;
                border-radius: 50%;
                transform: translate(-4px, 0);
              }
              span {
                font-size: 14px !important;
                line-height: 14px;
              }
              // margin: 0 0 -2px 4px;
            }
          }
        }
      }

      .wp-cur {
        --top-height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: flex-start;
        color: var(--c0-f-color);
        padding: 0 0 30px;
        margin: 0 var(--margin-lr) 30px;
        border-bottom: 1px solid #eee;
        .wp-c-top {
          // height: var(--top-height);
          display: flex;
          align-items: flex-end;
          margin: 20px 0 14px 0;
          .wp-c-emoji {
            // width: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 calc(var(--margin-lr) - 12px);
            span {
              &:nth-child(1) {
                font-size: 78px;
              }
            }
            .wp-c-e-weather {
              font-size: 24px;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              text-align: center;
            }
          }
          .wp-c-temp {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            .wp-data-temp {
              margin: 0 10px 0 0;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              height: 90px;
              & > span {
                &:nth-child(1) {
                  font-size: 88px;
                  margin: 0 6px 0 0;
                  font-family: 'PingFang SC', 'Microsoft YaHei', Simsun,
                    Helvetica, Arial, sans-serif;
                }
                &:nth-child(2) {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  height: 80px;
                  & > span {
                    &:nth-child(1) {
                      font-size: 26px;
                    }
                    &:nth-child(2) {
                      font-size: 32px;
                    }
                  }
                }
              }
            }
            .wp-data-weather {
              font-size: 28px;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              margin: 0 10px 4px 0;
              display: none;
            }
            .wp-data-item {
              margin: 0 0 12px 0;
              .aqi-icon {
                margin: 0 0 -2px 4px;
              }
            }
          }
          @media screen and (max-width: 767px) {
            .wp-c-emoji {
              span {
                &:nth-child(1) {
                  font-size: 64px;
                }
              }
            }
            .wp-c-temp {
              .wp-data-temp {
                height: 70px;
                & > span {
                  &:nth-child(1) {
                    font-size: 68px;
                    margin: 0 6px 0 0;
                  }
                  &:nth-child(2) {
                    height: 65px;
                    & > span {
                      &:nth-child(1) {
                        font-size: 22px;
                      }
                      &:nth-child(2) {
                        font-size: 24px;
                      }
                    }
                  }
                }
              }
              .wp-data-weather {
                display: none;
              }
            }
          }
        }
        .wp-c-bottom {
          display: flex;
          align-items: flex-start;
          .wp-c-b-left {
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: -6px calc(var(--margin-lr) - 12px);
            span {
              font-size: 24px;
            }
          }
          .wp-c-data {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
          }
          @media screen and (max-width: 767px) {
            .wp-c-b-left {
              margin: -2px calc(var(--margin-lr) - 12px);
              span {
                font-size: 16px;
              }
            }
          }
        }

        .wp-data-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 24px 6px 0;
          white-space: nowrap;
          // height: 34px;
          saki-icon {
            margin: 0 4px 0 0;
          }
          span {
            font-size: 16px;
            color: var(--c0-f-color);
            &:nth-child(3) {
            }
          }
          .aqi-icon {
            margin: 0 0 0 4px;
          }

          @media screen and (max-width: 767px) {
            saki-icon {
              margin: 0 4px 0 0;
              width: 12px;
              height: 14px;
            }
            span {
              font-size: 12px;
              &:nth-child(3) {
              }
            }
            .aqi {
              .icon {
              }
            }
          }
        }
      }
      .wp-today {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border-bottom: 1px solid #eee;
        padding: 0 0 30px;
        // margin: 0 0 30px;
        .wp-t-item {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          .wp-t-i-icon {
            font-size: 34px;
            margin: 0 2px 0 0;
          }
          .wp-t-i-data {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            .wp-t-i-d-date {
              font-size: 14px;
              color: var(--c0-f-color);
            }
            .wp-t-i-d-temp {
              color: var(--c0-f-color);
            }
            .wp-t-i-d-weather {
              font-size: 14px;
              display: flex;
              align-items: center;
              color: var(--c0-f-color);
              span {
                font-size: 14px;
              }
              .aqi-icon {
                margin: 0 0 0 4px;
              }
            }
          }
        }
      }
    }

    .wp-title {
      margin: 0px 0 18px var(--margin-lr);
      display: flex;
      justify-content: space-between;
      align-items: center;
      & > span {
        font-weight: 700;
        font-size: 20px;
        color: var(--c0-color);
      }
      .wt-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .switch-button {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .sb-item {
            font-size: 14px;
            color: var(--c2-color);
            transition: color 0.3s;
            cursor: pointer;
            user-select: none;
            white-space: nowrap;
            &.active {
              color: var(--saki-default-color);
            }
          }
          .sb-spacing {
            margin: 0 1px;
            font-size: 12px;
            color: #999;
          }
        }
      }
    }

    .wp-footer {
      text-align: center;
      color: var(--c3-color);
      font-size: 12px;
      margin: 20px 0 20px;
    }

    .wp-details {
      width: 100%;
      // border-bottom: 1px solid #eee;
      // padding: 0 0 30px;
      // margin: 0 0 30px;

      .wp-d-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        padding: 0 var(--margin-lr);
        .wp-l-item {
          // border: 1px solid #ddd;
          // border-radius: 10px;
          // width: 200px;
          // height: 200px;
          display: flex;
          flex-direction: column;
          // justify-content: center;
          // align-items: center;

          background-color: var(--c1-bg-color);
          width: 160px;
          min-height: 160px;
          border-radius: 10px;
          margin: 0px 8px 16px;
          transition: background-color 0.3s;
          padding: 10px;
          &:hover {
            background-color: var(--c1-bg-hover-color);
          }
          &:active {
            background-color: var(--c1-bg-active-color);
          }

          .item-title {
            font-size: 12px;
            color: var(--c2-color);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .i-t-left {
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
            .i-t-right {
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }
          }
          .item-val {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span {
              &:nth-child(1) {
                color: var(--c1-color);
                span {
                  &:nth-child(1) {
                    font-size: 32px;
                    font-weight: 700;
                    color: var(--c0-color);
                  }
                  &:nth-child(2) {
                    margin: 10px 0 0 4px;
                    font-size: 14px;
                    font-weight: 500;
                  }
                }
              }
              &:nth-child(2) {
                margin: 0px 0 -2px 0;
                font-size: 12px;
                font-weight: 500;
                color: var(--c1-color);
                &.tag {
                  color: var(--c0-f-color);
                  border-radius: 4px;
                  padding: 1px 4px;
                }
              }
            }
          }
          .item-desc {
            // color: #444;
            color: var(--c3-color);
            height: 34px;
            font-size: 12px;
            text-align: center;
          }
        }
      }
      @media screen and (max-width: 767px) {
        .wp-d-list {
          padding: 0 var(--margin-lr);
          .wp-l-item {
            width: calc(50% - 16px);
            max-width: 160px;
            min-height: 160px;
            border-radius: 10px;
            margin: 0px 8px 16px;
            padding: 10px;

            .item-title {
            }
            .item-val {
              span {
                &:nth-child(1) {
                  span {
                    &:nth-child(1) {
                      font-size: 28px;
                    }
                  }
                }
              }
            }
            .item-desc {
            }
          }
        }
      }
    }

    .wp-sunmoon {
      width: 100%;
      border-bottom: 1px solid #eee;
      padding: 0 0 30px;
      margin: 0 0 30px;

      .wp-s-main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-items: center;

        #chart-sunmoon {
          // background-color: #eee;
        }
        .wp-s-data {
          flex: 1;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          // grid-template-rows: repeat(4, 1fr);
          .wp-s-d-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin: 5px 0;
            span {
              font-size: 14px;
              text-align: center;
              &:nth-child(1) {
                // color: #666;
                color: var(--c2-color);
              }
              &:nth-child(2) {
                font-size: 14px;
                // color: #444;
                color: var(--c0-color);
                font-weight: 700;
              }
            }
          }
        }
        @media screen and (max-width: 767px) {
          flex-direction: column;
          .wp-s-data {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            // grid-gap: 0 40px;
            margin: 10px 0 0;
            .wp-s-d-item {
              // margin: 5px 10px;
            }
          }
        }
      }
    }
    .wp-aq {
      width: 100%;
      border-bottom: 1px solid #eee;
      padding: 0 0 30px;
      margin: 0 0 30px;
      .wp-aq-num {
        padding: 0 var(--margin-lr) 18px;
        span {
          color: var(--c0-color);
          &:nth-child(1) {
            font-size: 32px;
          }
          &:nth-child(2) {
            font-size: 22px;
            margin: 0 0 0 6px;
          }
        }
      }
      .wp-aq-line {
        width: calc(100% - var(--margin-lr));
        margin: 0 0 0 var(--margin-lr);
        position: relative;
        --progress: 0;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 6px;
          border-radius: 3px;
          background: linear-gradient(
            45deg,
            #2bad2f 5%,
            #37d43c 10%,
            #ffb000 20%,
            #ff4d00 30%,
            #f0000c 40%,
            #9f0047 60%,
            #84002c 100%
          );
        }
        &::after {
          content: '';
          position: absolute;
          left: calc(100% * (var(--progress)) - 4px);
          top: -8px;
          width: 8px;
          height: 24px;
          border-radius: 4px;
          background: #fff;
          border: 1px solid #999;
        }
      }

      .wp-aq-desc {
        padding: 28px var(--margin-lr) 0;
        color: var(--c2-color);
      }
      .wp-aq-data {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 20px 0 0;

        .wp-aq-d-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 4px 0;

          .item-text {
            font-size: 14px;
            color: var(--c2-color);
            white-space: nowrap;
            text-align: center;
          }
          .item-line {
            width: 30px;
            height: 6px;
            border-radius: 3px;
            background-color: #2bad2f;
            margin: 8px 0 6px;
          }
          .item-val {
            font-size: 16px;
            color: var(--c1-color);
            font-weight: 700;
            span {
              &:nth-child(1) {
                color: var(--c0-color);
              }
              &:nth-child(2) {
                font-size: 12px;
                margin: 0 0 0 4px;
                color: var(--c1-color);
              }
            }
          }
        }
      }
    }

    .wp-hourly,
    .wp-daily,
    .wp-aq {
      border-bottom: 1px solid #eee;
      padding: 0 0 30px;
      margin: 0 0 30px;
      .wp-chart {
        width: calc(100% - var(--margin-lr));
        margin: 0 0 0 calc(var(--margin-lr));
        // height: 130px;
        // background-color: white;
        // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        // padding: 5px;
        overflow-y: auto;
        #weather-chart {
        }
      }

      .wp-list {
        display: flex;
        flex-direction: column;
        padding: 0;
      }

      .line-high {
        // transform: translate(0, -50px);
      }
    }
    .wp-daily {
      // border-bottom: none;
    }
  }
}

.wp-h-l-cities {
  padding: 6px 0 10px;
  position: relative;
  @media screen and (max-width: 767px) {
    width: var(--deviceWH-w);
    height: calc(var(--deviceWH-h) * 1);
  }
  .cities-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 4px;
    padding: 6px 10px;
    span {
      font-size: 12px;
      color: #666;
      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
    .c-h-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .c-h-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .cities-list {
    padding: 0 10px;
    width: calc(var(--dp-w));
    min-height: 300px;
    max-height: 580px;

    // &.Grid {
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    //   gap: 10px 10px;
    //   grid-template-rows: repeat(4, 1fr);
    //   .cities-item {
    //     width: auto;
    //     margin: 0;

    //     .c-i-left {
    //       & > span {
    //         // flex-direction: column-reverse;
    //       }
    //     }
    //   }
    // }

    @media screen and (max-width: 767px) {
      width: 100%;
      max-height: calc(100% - 36px);
    }

    .cities-item {
      width: 100%;
      // width: var(--dp-w);
      margin: 0 0 10px;
      background-color: #f3f3f3;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 6px;
      border-radius: 10px;
      cursor: default;
      border: 2px solid #f3f3f3;
      transition: border 0.3s, background-color 0.3s;

      &.active {
        border: 2px solid var(--saki-default-color);
      }

      &:hover {
        background-color: #ddd;
      }
      &:active {
        background-color: #ccc;
      }
      .c-i-icon {
      }
      .c-i-main {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .c-i-left {
        display: flex;
        flex-direction: column;
        flex: 1;
        & > span {
          &:nth-child(1) {
            font-size: 18px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .distance {
              // display: flex;
              // align-items: center;
              font-size: 12px;
              color: #666;
              margin: 0 0 0 4px;
              white-space: nowrap;
              // background-color: var(--saki-default-color);
              // color: #fff;
              // height: 20px;
              // padding: 0px 6px;
              // border-radius: 10px;
            }
          }
          &:nth-child(2) {
            font-size: 12px;
            color: #666;
          }
        }
      }
      .c-i-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 60px;
        span {
          &:nth-child(1) {
            font-size: 16px;
            color: #666;
          }
          &:nth-child(2) {
            font-size: 14px;
            color: #666;
          }
        }
      }
    }
  }

  .wp-h-l-addCity {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: 6px 0 10px;

    transition: opacity 0.3s, transform 0.3s;

    display: flex;
    flex-direction: column;

    .wa-header {
      margin: 0 0 4px;
      padding: 0 10px 0 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .wa-h-left {
      }
      .wa-h-right {
        flex: 1;
      }
    }
    .wa-main {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 0 4px;
      .wa-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6px 0 0;
        span {
          margin: 0 0 0 4px;
          color: #666;
        }
      }
      .wa-m-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #eee;
        transition: all 0.3s;
        &:hover {
          background-color: #eee;
        }
        &:active {
          background-color: #ddd;
        }
        .wa-m-i-left {
          flex: 1;
          display: flex;
          flex-direction: column;
          padding: 6px 14px;
          span {
            &:nth-child(1) {
              color: #444;
              font-size: 16px;
            }
            &:nth-child(2) {
              color: #999;
              font-size: 14px;
            }
          }
        }
        .wa-m-i-right {
        }
      }
    }

    &.w-addcity-disable-animation {
      transition: none;

      &.w-addcity-enter {
        opacity: 1;
        transform: translateX(0%);
      }
    }

    &.w-addcity-will-load {
      transition: none;
      display: none;
      opacity: 0;
      transform: translateX(100%);
    }

    &.w-addcity-enter {
      opacity: 0;
      transform: translateX(100%);
    }

    &.w-addcity-leave,
    &.w-addcity-enter-active {
      opacity: 1;
      transform: translateX(0%);
    }

    &.w-addcity-leave-active {
      opacity: 0;
      transform: translateX(100%);
    }

    &.w-addcity-leave-done {
      display: none;
    }
  }
}

.WeatherDayForecastListItem {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  padding: 8px var(--margin-lr);
  transition: background-color 0.3s;

  cursor: default;
  &:hover {
    background-color: var(--c1-bg-hover-color);
  }
  &:active {
    background-color: var(--c1-bg-active-color);
  }
  .item-date {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      &:nth-child(1) {
        flex: 1;
      }
      &:nth-child(2) {
        flex: 1;
      }
    }
  }
  .item-weatheremoji {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-weather {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      &:nth-child(1) {
        flex: 1;
      }
      &:nth-child(2) {
        flex: 1;
      }
    }
  }
  .item-aqi {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      &:nth-child(1) {
        flex: 1;
      }
      // &:nth-child(2) {
      //   background-color: #37d43c;
      //   color: #fff;
      //   border-radius: 10px;
      //   padding: 1px 6px 1px 6px;
      //   margin: 0 0 -2px 2px;
      //   font-size: 12px;
      //   white-space: nowrap;
      // }
    }
  }

  @media screen and (max-width: 767px) {
    .item-date {
      flex: 1;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      span {
        &:nth-child(1) {
          flex: 0;
          font-size: 12px;
          color: var(--c1-color);
        }
        &:nth-child(2) {
          flex: 0;
          font-size: 14px;
          color: var(--c0-color);
        }
      }
    }
    .item-weatheremoji {
      flex: 0.5;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .item-weather {
      flex: 2;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      span {
        &:nth-child(1) {
          flex: 0;
          font-size: 12px;
          color: var(--c1-color);
        }
        &:nth-child(2) {
          flex: 0;
          font-size: 14px;
          color: var(--c1-color);
        }
      }
    }
    .item-aqi {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        &:nth-child(1) {
          flex: 0;
          font-size: 14px;
          color: var(--c1-color);
        }
        // &:nth-child(2) {
        //   flex: 0;
        //   font-size: 12px;
        //   margin: 2px 0 0;
        //   padding: 1px 6px 1px 6px;
        // }
      }
    }
  }
}

.SunMoonListItem {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  padding: 8px var(--margin-lr);
  transition: background-color 0.3s;

  cursor: default;
  &:hover {
    background-color: #eee;
  }
  &:active {
    background-color: #ddd;
  }
  .item-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    span {
      &:nth-child(1) {
        flex: 1;
        font-size: 12px;
        color: var(--c2-color);
      }
      &:nth-child(2) {
        color: var(--c0-color);
        flex: 1;
      }
    }
  }
  .item-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item-sun,
    .item-moon {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      & > span {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        text-align: center;
        & > span {
          &:nth-child(1) {
            flex: 1;
            color: var(--c2-color);
            font-size: 12px;
          }
          &:nth-child(2) {
            flex: 1;
            font-size: 14px;
            color: var(--c1-color);
            font-weight: 700;
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    // border-bottom: 1px solid #eee;
    padding: 0px var(--margin-lr) 4px;
    flex-direction: column;
    align-items: flex-start;
    &:hover {
      background-color: transparent;
    }
    &:active {
      background-color: transparent;
    }
    .item-date {
      width: 100%;
      display: block;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 3px 0 4px;
      span {
        font-size: 12px;
        &:nth-child(1) {
          margin: 0 6px 0 0;
          color: var(--c2-color);
        }
        &:nth-child(2) {
          color: var(--c2-color);
        }
      }
    }
    .item-right {
      width: 100%;
      flex: 1;
      margin: 6px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: var(--c1-bg-color);
      border-radius: 10px;
      padding: 10px;
      .item-sun {
        border-bottom: 1px solid #ddd;
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
      }
      .item-sun,
      .item-moon {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > span {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 10px;
          & > span {
            &:nth-child(1) {
              flex: 1;
              color: var(--c2-color);
            }
            &:nth-child(2) {
              flex: 1;
              font-size: 14px;
              color: var(--c1-color);
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

.warning-icon-component {
  background-color: var(--wi-color);
  width: var(--wi-width);
  height: var(--wi-width);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--wi-color);
  &.minText {
    .wi-text {
      font-size: calc(var(--wi-width) / 8);
    }
  }
  .wi-icon {
    font-size: calc(var(--wi-width) / 2.2);
    line-height: calc(var(--wi-width) / 2);
    // margin: 0 0 calc(var(--wi-width) / 2.6) 0;
    position: absolute;
    top: calc(var(--wi-width) / 25);
    color: #fff;
  }
  .wi-text {
    font-size: calc(var(--wi-width) / 4);
    line-height: calc(var(--wi-width) / 4);
    color: var(--wi-color);
    position: absolute;
    bottom: calc(var(--wi-width) / 12);
    z-index: 10;
  }
  &::after {
    content: '';
    position: absolute;
    width: calc(var(--wi-width) * 3.75);
    height: calc(var(--wi-width) * 3.75);
    background-color: #fff;
    border-radius: 50%;
    top: calc(var(--wi-width) / 1.6666);
  }
}
