.footer-component {
  width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.f-left {
		.f-language {
			.f-l-button {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 12px;
				.icon {
					width: 16px;
					height: 16px;
				}
			}
		}
	}
	.f-right {
		.f-r-copyright {
			font-size: 12px;
		}
		a {
			color: #000;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
