.tb-header {
	display: flex;
	justify-content: space-between;
  align-items: center;
	height: 50px;
	border: 1px solid #eee;

	.tb-h-left {
		display: flex;
		justify-content: flex-start;
    align-items: center;
		padding: 0 0 0 10px;
	}
	.tb-h-center {
	}
	.tb-h-right {
		padding: 0 10px 0 0;
		display: flex;
		justify-content: flex-end;
    align-items: center;
		
	}
}
