.tb-header {
	display: flex;
	justify-content: space-between;
	height: 50px;
	border: 1px solid #eee;

	.tb-h-left {
		padding: 0 0 0 10px;
		.logo-text {
			height: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			color: #555;
		}
	}
	.tb-h-center {
	}
	.tb-h-right {
		padding: 0 10px 0 0;
		.tb-h-r-icon {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 7px 0;
			.icon {
			}
		}
	}
}
