.tb-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	border: 1px solid #eee;

	&.fixed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 500;
		background-color: rgba(255, 255, 255, 0.6);
		transition: top 0.3s;
		&.hide {
			top: -50px;
		}
	}

	.tb-h-left {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0 0 0 10px;
	}
	.tb-h-center {
	}
	.tb-h-right {
		padding: 0 10px 0 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		.tb-h-r-user {
			cursor: pointer;
			margin: 0 0 0 10px;
		}
	}
}

// .network-speed-dp-main {
// 	.nsd-item {
// 	}
// }
