.md-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 7px 0;
	.logo-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		color: #555;
    @media (max-width: 600px) {
      font-size: 14px;
    }
	}
	.icon {
		width: 12px;
		height: 12px;
		margin-left: 10px;
		fill: #999;
		transition: all 0.3s;
		&.active {
			transform: rotate(180deg);
		}
	}
}
