.tool-box-layout {
	
}

.tool-box-layout-menu-list {
	.tblml-item {
		a {
			font-size: 14px;
			padding: 14px 16px;
			display: block;
			color: #000;
		}
	}
	// width: calc(60px * 3);
	// display: flex;
	// flex-direction: row;
	// flex-wrap: wrap;
	// .tblml-item {
	// 	width: 60px;
	// 	height: 60px;
	// }
}
